*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    width: 100px;
    height: 80px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: firebrick;
}

header .nav .nav-list{
    display: flex;
    list-style: none;
    gap: 10px;
}
header .nav .nav-list li a{
    text-decoration: none;
    color: black;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.hero{
    height: calc(100vh - 100px);
    background-image: url(../img/corte-carne.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: aliceblue;
    text-align: center; 
    font-weight: normal;
    font-size: 40px;
    border: 2px solid aliceblue;
    padding: 10px;
}

.hero h3{
    margin-top: 10px;
    font-size: 25px;
    color: aliceblue;
}

.nosotros .contenedor-img img{
width: 100%;
display: block;
margin-bottom: 0;
}


.nosotros .contenedor-parrafo{
    text-align: center;
}
.nosotros .contenedor-parrafo p{
    font-size: 25px;
}

.nosotros .contenedor-parrafo h3{
    font-size: 30px;
}
.nosotros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #C83F12;
    gap: 20px;
}

.nosotros div{
    width: 50%;
}
.nosotros .contenedor-parrafo,
.nosotros .contenedor-img {
    margin: 0; /* importante */
}
.nosotros .contenedor-img{
    width: 500px;
    position: relative;  /* ✅ evita que el texto se salga */
}

.nosotros .contenedor-img .texto-sobre-img{
    position: absolute;
    bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 10px;
      font-family: monospace;
      font-size: 14px;
      text-align: center;
}

.servicios{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: #C83F12;
    gap: 20px;
}
.servicios .contenedor-parrafo{
    text-align: center;
}
.servicios .contenedor-parrafo p{
    font-size: 25px;
}

.servicios .contenedor-parrafo h3{
    font-size: 30px;
}

.servicios .contenedor-img img{
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.servicios .contenedor-img{
    width: 500px;
    position: relative;
}

.servicios div{
    width: 50%;
}

.servicios .contenedor-img .texto-sobre-img{
    position: absolute;
    bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 10px;
      font-family: monospace;
      font-size: 14px;
      text-align: center;
}

.productos .productos-contenedor div img{
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}
.productos .productos-contenedor div{
    width: 304px;
    height: 307px;
    border: 2px red solid;
    margin: 10px;
    text-align: center;
}

.productos .productos-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos .productos-contenedor div p{
    margin-bottom: 15px;
}
.productos .productos-contenedor div a{
    background-color: black;
    text-decoration: none;
    color: #F8F5E9;
    padding: 10px;
}

.productos h2{
    text-align: center;
    font-size: 30px;
    background-color: #3B060A;
    color: #F8F5E9;
    padding: 20px;
}

.productos{
    background-color: #C83F12;
}
.contacto{
    background-color: #C83F12;
}
.contacto .contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px; /*Axel el gap se usa con flexbox para separar y acordate del with 100% adapte al contenedor */
}

.contacto .contenedor-contacto .contenedor-mapa iframe{
    width: 100%;
    display: block;
}

.contacto h3{
text-align: center;
font-size: 30px;
background-color: #3B060A;
color: #F8F5E9;
padding: 20px;
}

.contacto .contenedor-contacto .contenedor-mapa{
    width: 500px;
}

.contacto .contenedor-contacto .contenedor-formulario form{
    background-color: #FFF287;
    padding: 50px;
    height: 400px;
    border: 2px red solid;
}
.contacto .contenedor-contacto .contenedor-formulario input, textarea{
   width: 100%;
   display: block;
}

.contacto .contenedor-contacto .contenedor-formulario form .button-container{
    text-align: center;
 }

 footer{
    background-color: #FFF287;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    padding: 10px;
    border-radius: 8px; 
}

footer .logo-footer{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

footer ul{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


footer p{
    text-align: center;
    margin-bottom: 15px;
}
footer img{
    width: 100px;
    transition: all 0.3s; 
}
footer img:hover{
    transform: scale(1.2);
}

.redes-sociales{
    text-align: center;
    color: black;
}  
.redes-sociales a{
    text-decoration: none;
    color: black;
} 

 .enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}    

.enlaces a{
    text-decoration: none;
    color:black
    
} 

@media screen and (max-width: 550px){

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 25px;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: black;
    }

    .cerrar-menu{
        color: aliceblue;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 10px;
        z-index: 9999;
    }

    .nav.visible{ /*Axel aca es una combinacion de clases un elemento html tiene dos clases*/
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    header .nav .nav-list li a{
        color: aliceblue;
    }
    
    .nosotros{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
        
        
        
    }
    .nosotros .contenedor-parrafo p{
        font-size: 20px;
        
    }
    
    .nosotros .contenedor-parrafo h3{
        font-size: 25px;
    }

    .nosotros > div,
  .nosotros .contenedor-img {
    width: 100%;
  }

  .servicios .contenedor-parrafo p{
    font-size: 20px;
  }

  .servicios .contenedor-parrafo h3{
    font-size: 25px;
  }
  .servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;  
    gap: 20px; 
}
.servicios > div,
  .servicios .contenedor-img {
    width: 100%;
    
  }

  
}












